**/target
/.env
/.idea
/.vscode
/config.toml
/config.local.toml
/config.dev.toml
/output.log
# not ignored by **/target for some reason
scripty_commands/target/*
fetch-voice-message.http
scripty_botlists/src/http-client.private.env.json