[target.x86_64-unknown-linux-gnu]
linker = "clang"
rustflags = ["-Ctarget-cpu=native", "--cfg", "tokio_unstable", "-C", "link-arg=-fuse-ld=mold", "-Zshare-generics=y"]

[target.x86_64-unknown-linux-musl]
linker = "clang"
rustflags = ["-Ctarget-cpu=native", "--cfg", "tokio_unstable", "-C", "link-arg=-fuse-ld=mold", "-Zshare-generics=y"]
